<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://chicmoto.com/wp-content/uploads/2017/11/1972-DinoFerrariDetail1.jpg');    background-repeat: no-repeat;     background-attachment: fixed;    background-position: center center;   background-size: cover;">
  <br>
 <br>
  <br>
  <br>


<div class="login_form">
<h1 style="color: #fff;">Login</h1>

<%= form_tag sessions_path do |form| %>


  <div class=”field”>
    <input id="email" name="email" type="text" placeholder="Email" />
  </div>
  <div class=”field”>
    <input id="password" name="password" type="password" placeholder="Password" />
  </div>

    <p1 style="color: #fff;">Don't Have an Account? <a style=" text-decoration: none; color: #fff;" href="<%= signup_path %>"><strong>Sign Up</strong></a></p1>

  <div class=”actions” style="margin-top: 2em;">
   <button type="submit" value="Submit">Submit</button>
  </div>



  <div class="form_alert">
    <p id=”alert”><%= alert %></p>
  </div>

<% end %>




</div>


<br>
<br>

</div>
