<div class="error_access_denied" style="margin-top: 8em; margin-bottom: 8em;">
  <a href="<%= root_path %>">
<img src="http://baumcube.weebly.com/uploads/6/5/8/4/65844733/screen-shot-2019-07-16-at-2-03-03-pm_orig.png" alt="Anything's Easier Than Fixing a Salvage Range Rover" style=" width: 472px; height:200px;" style="text-align:center;"></a>

<h1 style="font-size: 1.75em;">Your Account Was Successfully Updated</h1>
<h1 style="font-size: 1em; font-weight: 100;">Anything's Easier Than Fixing a Salvage Range Rover</h1>
<%= button_to 'Return Home', home_path, :class => 'return_home_button' %>
</div>
<div class="error_button_home" style="color: black; margin-bottom: 10em;">
	<%= button_to 'Return Home', home_path, :class => 'return_home_button' %>

</div>