// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table_div{
 
 table {
 border-collapse: collapse;
 border-style: solid;
 border-color:black;
 border-width: medium;
 width: 75%;
 }


 table tr td {
 padding: 5px;
 vertical-align: top;
  border-style: solid;
 border-color:black;
 border-width: 0.15em;
 }

 .list_image {
 width: 60px;
 height: 70px;
 }

 .list_description {
 width: 60%;

 dl {
 margin: 0;
 }

 dt {
 color: #244;
 font-weight: bold;
 font-size: larger;
 }

 dd {
 margin: 0;
 }
 }

 .list_actions {
 font-size: x-small;
 text-align: right;
 padding-left: 1em;
 }

 .list_line_even {
 background: white;
 }

 .list_line_odd {
 background: #d3d3d3;

 }

 }


 .Product_Show_Page{

color: black;

table tr th {
	
}

 .product_title{
 font-size: 2em;
 margin-top: 0em;
 vertical-align: text-top;


 }

 .product_category{
margin-bottom: 1.5em;
font-size: 1.15em;
 }

 .product_description{
font-size: 1em;
 }

 .product_price{
font-size: 1.15em;
text-decoration: bold;
 }

 }




.listing_summary{
	border: 3px solid black;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

.listing_summary td {
	
	text-align: center;
}




.listing_media {
    /* Sizing */
    width: 100vw;
    height: 60vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 380px;
}

.listing_media h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.listing_media .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; 
    text-decoration: none;
    font-size: 1.5em;
      font-family: verdana, arial, helvetica, sans-serif;
    
    /* Border styles */
    border: 5px solid white; 


 -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.4s;

}

.listing_media .btn:hover {
 margin-top: 45px;
border: 6px solid white; 
 font-size: 1.75em;

}


.bg-img {
  /* The image used */
  background-image: url("img_nature.jpg");

  min-height: 40vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

/* Add styles to the form container */
.container {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  padding: 16px;
  background-color: black;
  width: 100%;
  opacity: .85;
  
}

.container h1{
    line-height: 1.6;
    opacity: 1;
    color: #fff;
    position: relative;
    width: 100%;
    text-align: center;
}


.rec_listing:hover .overlay{
  opacity: 1;
}

.comment-section{
  
}

.comment-section h2{
  text-align:center;
}