// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome{
	h1{
	margin-top: 2em;
	color: black;
	text-align:center;
	font-size: 3em;
	}
	h2{
	color: black;
	text-align:center;
	font-size: 1.25em;
	}
	h3{
	color: black;
	text-align:center;
	font-size: 1.5em;
	}
	h4{
	text-align:center;
	font-size: 1em;
	margin-bottom: 3em;
	}
	
	img{
	text-align:center;
	}
	p{
	text-align:center;
	color: black;
	}
	img{
	display: block;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 20em;
	}

	.span_block{
	display: block;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10em;
  width: 40em;
  text-align:center;
	}
	.button_span{
	display:inline;
	padding: 0em;


	.button{
		border: 0.15em solid black;
		background-color:white;
		color: black;
		padding: 0.75em 1.5em;
		font-size: 1.5em;
		cursor: pointer;
	border-color: black;
	color: black;
	border-radius: 0.5em;

	}

	.button:hover{
	background-color: black;
	color:white;
	}

	.tour{
	margin-left: 2em;
	}
	}
}



.Profile{
	color: black;
	  text-align:center;
	padding-bottom: 2em;

}

 .Profile h1{
	  text-size: 25px;
	  color: black;
	  }

	   .Profile p1{
	  font-weight: 10px;
	  margin-bottom: 2em;
	  }


.profile_icon {
background-color: black;
border-color:black;
  border-style: solid;
  border-width: 0.1em;
  color: #fff;
  text-align: center;
  padding: 20px 40px;
  margin-left: 1px;
  margin-bottom: 0.5em;
  text-decoration: bold;
  display: inline-block;
  font-size: 60px;
  font-family: verdana, arial, helvetica, sans-serif;


 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}

.profile_icon:hover {
  background-color: white; 
  background-image: url('https://image.flaticon.com/icons/svg/61/61456.svg');
    background-size: 60px auto;
    background-position: center center;
    background-repeat: no-repeat;

   
}
.profile_icon:hover h{

  opacity: 0;
  
    
   
}



.profile_item{
	padding-bottom: 0.75em;
	text-size: 15px;

}


.login_btn {

border-color:black;
  border-style: solid;
  border-width: 0.1em;
  color: black;
  text-align: center;
  padding: 10px 18px;
  margin-top: 1em;
  margin-bottom: 0em;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: verdana, arial, helvetica, sans-serif;




 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}

.login_btn:hover {
  background-color: black; 
  color: white;
}


.discover_ad_domestic{
	color: black;
	-webkit-transition-duration: .8s; /* Safari */
  transition-duration: 2.8s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://image.redbull.com/rbcom/052/2017-11-29/553c40f4-b6cb-4891-acc6-a118a08d8c0c/0012/0/0/0/3122/4683/1500/1/mike-crawat-modified-car-photography.jpg');
  
}

.discover_ad_domestic h1{
	visibility: hidden;
}

.discover_ad_domestic:hover{
	color: white;

	background-image: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)), url('https://image.redbull.com/rbcom/052/2017-11-29/553c40f4-b6cb-4891-acc6-a118a08d8c0c/0012/0/0/0/3122/4683/1500/1/mike-crawat-modified-car-photography.jpg');
}

.discover_ad_domestic:hover h1{
visibility: visible;
}

.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 60px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3em;
}

.active, .collapsible:hover {
  background-color: #141414;
  border-width: 3px;
  border-color: black;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

